*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    .section-1{
        width: 100%;
        height: 100vh;
        padding: 35px;
        

        header{
            width: 100%;
            height: calc(100vh - 739px);
            display: flex;
            align-items: center;
            justify-content: space-between;

            nav{
                display: flex;
                align-items: center;
                gap: 40px;
            }

            .right{
                display: flex;
                gap: 72px;
            }
        }

        main{
            width: 100%;
            height: 100vh;
            background: url(/Rasmlar/firstsectionbackground.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}